.vscode
.venv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Large files
haarcascade_frontalface_default.xml
Trainer.yml

# Current files
gallery.json
probe.json
unknown.json
names.json